@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=League+Spartan:wght@100;400;600;700&display=swap');

canvas { 
  display: block; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  
}

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 1em;
}

main {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 17% 83%;
  gap: 1em;
}

h1 {
  font-family: 'Kavoon', serif;
  font-size: 4em; 
  color:white;

  text-shadow: -0.063em -0.063em 0 rgba(5, 107, 130), 0.063em -0.063em 0 rgba(5, 107, 130), -0.063em 0.063em 0 rgba(5, 107, 130), 0.063em 0.063em 0 rgba(5, 107, 130), 0.063em 0.063em 0.313em rgb(0, 0, 0.5);
  background-clip: text;
  display: inline-block;

  margin-bottom: 0;
  margin-top: 0;

}

h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 2em;
  max-width: 100%;
  color: rgb(255, 255, 255);
}

p.subtitlee{
  font-family: 'Kavoon', serif;
  color: rgba(5, 107, 130);
  text-shadow: -0.063em -0.063em 0 rgba(255, 255, 255, 1), 0.063em -0.063em 0 rgba(255, 255, 255, 1), -0.063em 0.063em 0 rgba(255, 255, 255, 1), 0.063em 0.063em 0 rgba(255, 255, 255, 1), 0.063em 0.063em 0.313em rgb(0, 0, 0);
  background-clip: text;
  display: inline-block;
  font-size: 1.5em;
  margin-top: 0;
}

a {
  color: black; /* Changes the color to black (or any color you prefer) */
  font-size: 1.3em;
}

p{
  font-size: 1.3em;
}

.window {
  position: relative;
  background-color: #ffffff;
  border: 1em solid #ff4a4a74;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

img{
  max-width: 100%;
  max-height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Set initial opacity to 0 to hide the image */
}

.window:hover img {
  opacity: 1; /* Set opacity to 1 on hover to show the image */
}



#title-content {
  grid-column: 1;
  grid-row: 1;

  text-align: right;
  margin-top: 0;
  margin-bottom: 1em;

  padding: 1em;
}

#title-content.trabajosP{
  font: 'Kavoon', serif;
  font-size: 2em;
}

#meniu {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  width: 200px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.79);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin: 0px;

  
}

#edificios {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  max-height: 100%;


  display: grid;
  grid-template-columns: repeat(3, 32%);
  column-gap: 1em;

  padding: 2em;
}

#edificios > * {
  box-shadow: 2px 2px 5px rgb(0, 0, 0); 
  padding: 2em;
}

h2.edTitle {
  grid-column: span 2;
  margin: 0;

  
}

p.iconText {
  max-width: 100%;
  
}


.trabajosUni {
  grid-column: 1 / span 1;
  margin-top: 2em;

  background-color: rgb(191, 97, 42);
}

.trabajosP {
  grid-column: 2 / span 1;

  background-color: rgb(172, 39, 39);
}

.trabajosIE {
  grid-column: 3 / span 1;
  margin-top: 3em;

  background-color: rgb(191, 97, 42);
}


.ventanas{
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2%;
  margin-right: 2em;
}

.ventanas>*{
  margin:0.4em;
}