html, body {
  margin: 0;
  padding: 0;
}

header{
  text-align: right;
}

main{
  width: 960px;
  margin: 4rem ;
}

#edificios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-row: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.trabajosUni {
  /* Add your grid properties here if needed */
  grid-column: 1 / span1;
  grid-row: 2 / span4;
}

.trabajosP {
  /* Add your grid properties here */
  grid-column: 2 / span1;
  grid-row: 1 / span5;
}

.trabajosIE {
  grid-column: 3 / span1;
  grid-row: 3 / span3;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.pro-IE{
  grid-column: 1 / span1;
  grid-row: 2 / span1;
}

canvas { 
  display: block; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

