@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=League+Spartan:wght@100;400;600;700&display=swap');

canvas { 
  display: block; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'League Spartan', sans-serif;

  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 20% 80%;
}

h1 {
  font-family: 'Kavoon', serif;
  font-size: 64px; 
}

h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 56px;
}



#title-content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  text-align: right;
}

#meniu {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

#edificios {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
